
.fantasy-town-generator-iframe {
    z-index: var(--z-index-canvas) + 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.fantasy-town-generator-ui-hide {
    visibility: hidden;
    pointer-events: none;
}

.fantasy-town-generator-action-row {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin: 8px 0;
}

.fantasy-town-generator-item-table {
    max-height: 600px;
}

.fantasy-town-generator-summary-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 8px;
}

.fantasy-town-generator-summary-button {
    width: 49%;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 4px;
}

.fantasy-town-generator-importer-textarea {
    height: 300px;
}

.fantasy-town-generator-sub-locations-container {
    max-height: 500px;
}

.fantasy-town-generator-stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 8px;
}

.fantasy-town-generator-stat {
    width: 32%;
}

.fantasy-town-generator-summary-row-end {
    margin-left: auto;
}

.fantasy-town-generator-whitespace-pre {
    white-space: pre-wrap;
}

.fantasy-town-generator-spaced-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fantasy-town-generator-row {
    display: flex;
    align-items: center;
}

.fantasy-town-generator-small-button {
    max-width: max-content;
    background: none;
    border: none;
}

.fantasy-town-generator-small-button:focus,
.fantasy-town-generator-small-button:hover {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.fantasy-town-generator-journal-container {
    flex-grow: 1;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    padding: 0 3px;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
}

.ftg-flex-grow {
    flex-grow: 1;
}

.fantasy-town-generator-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

